body {
    background-color: rgb(19, 20, 23);
    color: rgb(199, 201, 211);
    font-family: Lato, "Lucida Grande", "Lucida Sans Unicode", Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    background-color: rgb(44, 48, 58);
    border-radius: 16px;
    box-sizing: border-box;
    left: 50%;
    padding: 16px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    color: rgb(118, 218, 255);
    text-decoration: none;
}
